{% extends "Base.html" %}
{% load static %}
{% block title %}Appointment{% endblock %}


{% block body %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Book Appointment</h4>
                </div>

                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">Patient Name</label>
                            <input type="text" name="patient_name" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Phone</label>
                            <input type="text" name="phone" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Doctor</label>
                            <select name="doctor" class="form-select" required>
                                <option value="">Select Doctor</option>
                                <option>Dr. Ahmed</option>
                                <option>Dr. Ali</option>
                                <option>Dr. Sara</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Appointment Date</label>
                            <input type="date" name="date" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Message</label>
                            <textarea name="message" class="form-control" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">
                            Submit Appointment
                        </button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock body %}