{% extends "Base.html" %}
{% load static %}
{% block title %}Doctor{% endblock %}

{% block body %}
<section class="bgdoctor">
<div class="container py-4">
  <div class="row g-4">

    
    <div class="col-md-3">
      <div class="card h-100">
        <img src="{% static 'photos/Doctor (4).jpg' %}" class="card-img-top" alt="Doctor">
        <div class="card-body">
          <h5 class="card-title">Dr. Ahmed Khan</h5>
          <p class="card-text">Cardiologist with 10+ years of experience in heart care.</p>
          <a href="#" class="btn btn-dark">Book Appointment</a>
        </div>
      </div>
    </div>

    
    <div class="col-md-3">
      <div class="card h-100">
        <img src="{% static 'photos/Doctor (2).jpg' %}" class="card-img-top" alt="Doctor">
        <div class="card-body">
          <h5 class="card-title">Dr. Sara Ali</h5>
          <p class="card-text">Gynecologist specializing in women’s health.</p>
          <a href="#" class="btn btn-dark">Book Appointment</a>
        </div>
      </div>
    </div>

    
    <div class="col-md-3">
      <div class="card h-100">
        <img src="{% static 'photos/Doctor (3).jpg' %}" class="card-img-top" alt="Doctor">
        <div class="card-body">
          <h5 class="card-title">Dr. Usman Raza</h5>
          <p class="card-text">Orthopedic surgeon for bone & joint problems.</p>
          <a href="#" class="btn btn-dark">Book Appointment</a>
        </div>
      </div>
    </div>

    
    <div class="col-md-3">
      <div class="card h-100">
        <img src="{% static 'photos/Doctor (1).jpg' %}" class="card-img-top" alt="Doctor">
        <div class="card-body">
          <h5 class="card-title">Dr. Ayesha Noor</h5>
          <p class="card-text">Dermatologist for skin, hair & beauty care.</p>
          <a href="#" class="btn btn-dark">Book Appointment</a>
        </div>
      </div>
    </div>

    
    <div class="col-md-3">
      <div class="card h-100">
        <img src="{% static 'photos/Doctor (5).jpg' %}" class="card-img-top" alt="Doctor">
        <div class="card-body">
          <h5 class="card-title">Dr. Bilal Hassan</h5>
          <p class="card-text">Neurologist treating brain & nerve disorders.</p>
          <a href="#" class="btn btn-dark">Book Appointment</a>
        </div>
      </div>
    </div>

    
    <div class="col-md-3">
      <div class="card h-100">
        <img src="{% static 'photos/Doctor (6).jpg' %}" class="card-img-top" alt="Doctor">
        <div class="card-body">
          <h5 class="card-title">Dr. Hina Shah</h5>
          <p class="card-text">Pediatrician providing child healthcare.</p>
          <a href="#" class="btn btn-dark">Book Appointment</a>
        </div>
      </div>
    </div>

    
    <div class="col-md-3">
      <div class="card h-100">
        <img src="{% static 'photos/Doctor (7).jpg' %}" class="card-img-top" alt="Doctor">
        <div class="card-body">
          <h5 class="card-title">Dr. Faisal Mehmood</h5>
          <p class="card-text">ENT specialist for ear, nose & throat.</p>
          <a href="#" class="btn btn-dark">Book Appointment</a>
        </div>
      </div>
    </div>

    
    <div class="col-md-3">
      <div class="card h-100">
        <img src="{% static 'photos/Doctor (8).jpg' %}" class="card-img-top" alt="Doctor">
        <div class="card-body">
          <h5 class="card-title">Dr. Maria Siddiq</h5>
          <p class="card-text">Psychologist for mental health counseling.</p>
          <a href="#" class="btn btn-dark">Book Appointment</a>
        </div>
      </div>
    </div>

    
    <div class="col-md-3">
      <div class="card h-100">
        <img src="{% static 'photos/Doctor (12).jpg' %}" class="card-img-top" alt="Doctor">
        <div class="card-body">
          <h5 class="card-title">Dr. Salman Qureshi</h5>
          <p class="card-text">General physician for routine checkups.</p>
          <a href="#" class="btn btn-dark">Book Appointment</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card h-100">
        <img src="{% static 'photos/Doctor (9).jpg' %}" class="card-img-top" alt="Doctor">
        <div class="card-body">
          <h5 class="card-title">Dr. Nida Ashraf</h5>
          <p class="card-text">Nutritionist for healthy diet planning.</p>
          <a href="#" class="btn btn-dark">Book Appointment</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card h-100">
        <img src="{% static 'photos/Doctor (13).jpg' %}" class="card-img-top " alt="Doctor">
        <div class="card-body">
          <h5 class="card-title">Dr. Imran Sheikh</h5>
          <p class="card-text">Urologist for kidney & urinary issues.</p>
          <a href="#" class="btn btn-dark">Book Appointment</a>
        </div>
      </div>
    </div>

    
    <div class="col-md-3">
      <div class="card h-100">
        <img src="{% static 'photos/Doctor (11).jpg' %}" class="card-img-top" alt="Doctor">
        <div class="card-body">
          <h5 class="card-title">Dr. Zainab Malik</h5>
          <p class="card-text">Dentist for oral & dental care.</p>
          <a href="#" class="btn btn-dark">Book Appointment</a>
        </div>
      </div>
    </div>

  </div>
</div>
</section>
{% endblock body %}