#SlideImage {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
/* #SlideImage {
    height: 500px;
    width: 100%;
    object-fit: cover;
    opacity: 0.85;   /* 0.1 se 1 tak */
.transparent-navbar {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Text color */
.transparent-navbar .nav-link,
.transparent-navbar .navbar-brand {
    color: #fff;
}

/* Hover effect */
.transparent-navbar .nav-link:hover {
    color: #f8f9fa;
} 
